{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <canvas id="dailyStat"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="locStat"></canvas>
        </div>
    </div>
<table class="table">
    <tr>
        <th>Results</th>
    </tr>
</table>
<div class="row">
  {% for i in object_list %}
  <div class="col-lg-4 col-xl-4">
    <div class="card" style="border-width: .2px; border-color: rgb(233, 233, 233);">
    <div class="card-body">
      <div class="row">
        
        <div class="col-md-6 align-middle">
          <img class="card-img-top" style="width: 150px; height: 150px;" src="/media/{{ i.image }}" alt="/media/{{ i.image }}">
        </div>
        <div class="col-md-6">
          <div href="/details/{{ i.id }}" class="card-title"><b>Uploaded from : {{ i.location }}</b></div>
          <p class="card-text">

            <div class="text-muted">
                Posted at: {{i.time}} on {{i.date}}
                <!-- <a href="/{{i.date}}"></a> -->
            </div>                  
          </p>
        </div>
      </div>
    </div>
  </div>
<!-- </a> -->
</div>
    {% endfor %}
 </div>
<br>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js"></script>

<script>

function useState(defaultValue) {
  let value = defaultValue

  function getValue() {
    return value
  }

  function setValue(newValue) {
    value = newValue
  }

  return [getValue, setValue];
}



var ctx = document.getElementById("dailyStat");
ctx.getContext("2d");

fetch("{{hostname}}/daily")
    .then((response) => response.json())
    .then((df) => {
        console.log(df.map((e)=>e.t));
        var myChart = new Chart(ctx, {
        type: 'line',
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                }],
            },
        },

        data: {
                labels: df.map((e)=>e.t),
                datasets: [{
                label: 'Trash Plastics',
                data: df,
                fill: false,
                borderColor: "black",
                borderWidth: 1
            }]
            },
        });       
    });

var locs = document.getElementById("locStat").getContext("2d");

fetch("{{hostname}}/location/")
    .then((response) => response.json())
    .then((df) => {
        console.log(df.map((e)=>e.t));
        var myChart = new Chart(locs, {
        type: 'line',
        options: {
            scales: {
                // xAxes: [{
                //     type: 'time',
                // }],
                y: {
                    min: 40,
                    max: 100,
                },
                y2: {
                    position: 'right',
                    min: -5,
                    max: 5
                }
            },
            plugins: {
                zoom: {
                    limits: {
                    y: {min: 0, max: 100},
                    y2: {min: -5, max: 5}
                    },
                }
            }

        },

        data: {
                labels: df.map((e)=>e.t),
                datasets: [{
                label: 'Trash Plastics',
                data: df,
                fill: false,
                borderColor: "black",
                borderWidth: 1
            }]
            },
        });       
    });


</script>

{% endblock content %}