{% extends 'base.html' %}

{% block content %}
<meta http-equiv="refresh" content="5">

<div style="margin: 20px;">
  <h3>{{photos}}</h3>
  <div class="row">
  {% for i in object_list %}
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="margin:10px 0px ;">
          <div class="card-header">
             Location : 
             {% if i.location == '0' %}
             Location Not Detected
             {% else %}
             <a href="http://www.google.com/maps/place/{{ i.location }}">{{ i.location }}</a>
            {% endif %}
            </div>
          <div class="card-body">
              <img src="/media/{{i.image}}" width="270px" height="200px">
          </div>
          <div class="card-footer text-muted">
              Posted at: {{i.time}} on <a href="/{{i.date}}">{{i.date}}</a>
          </div>                
          </div>
      </div>
  {% endfor %}
  </div>
</div>

{% endblock content %}