{% extends 'base.html' %}

{% block content %}
<!--------- Form --------------->
{% if user.is_authenticated %}

<br><br>

<div style="margin: 0% 35%;">
<form action="" class="form-control" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-success" name="username" value ="{{user.get_username}}" onclick="load()">Submit</button>
    <img src="/media/Loading.gif" width="40px" hidden id="loading">

    </form>
    <br><br>
</div>
<br><br>

<script>
    function load(){
       document.getElementById("loading").hidden = false;
    }
</script>

{% else %}

<meta http-equiv="refresh" content="0; url=/login" />

{% endif %}



{% endblock content %}
